## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_data=os.path.join('Vacation_Itinerary','WeatherPy_vacation.csv')

In [12]:
vacation_df = pd.read_csv(vacation_data)
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Puerto Ayora,EC,77.00,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
1,2,Avarua,CK,78.80,broken clouds,-21.21,-159.78,Paradise Inn
2,6,Sumenep,ID,79.52,overcast clouds,-7.02,113.87,OYO 3271 Homestay Pandian
3,8,Puri,IN,77.00,thunderstorm,19.80,85.85,OYO 1577 Hotel Shree Hari Grand
4,10,Minbu,MM,77.18,overcast clouds,20.18,94.88,Kaung Thar Guest House - Burmese Only

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [14]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations =vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Celestun")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Celestun")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Pochutla")]

vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Bucerias")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="San Quintin")]

In [31]:
vacation_df.loc[(vacation_df["City"]=="Celestun")]

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
130,432,Celestun,MX,79.5,light rain,20.87,-90.4,Posada Lilia

In [32]:
vacation_df.loc[(vacation_df["City"]=="Pochutla")]

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
12,47,Pochutla,MX,87.8,broken clouds,15.74,-96.47,Hotel Posada San Jose

In [33]:
vacation_df.loc[(vacation_df["City"]=="Bucerias")]

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
142,482,Bucerias,MX,90.0,clear sky,20.75,-105.33,Villa del Palmar Flamingos Beach Resort & Spa ...

In [34]:
vacation_df.loc[(vacation_df["City"]=="San Quintin")]

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
89,300,San Quintin,MX,85.87,clear sky,30.48,-115.95,Old Mill Hotel

In [35]:
vacation_df.loc[(vacation_df["City"]=="Lamesa")]

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
137,453,Lamesa,US,86.0,scattered clouds,32.74,-101.95,Shiloh Inn Lamesa

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start.to_numpy()[0])[5:7]
end = tuple(vacation_end.to_numpy()[0])[5:7]
stop1 = tuple(vacation_stop1.to_numpy()[0])[5:7]
stop2 = tuple(vacation_stop2.to_numpy()[0])[5:7]
stop3 = tuple(vacation_stop3.to_numpy()[0])[5:7]

In [45]:
start

(20.87, -90.4)

In [46]:
end

(20.87, -90.4)

In [47]:
stop1

(15.74, -96.47)

In [48]:
stop2

(20.75, -105.33)

In [17]:
stop3

(30.48, -115.95)

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


import gmaps.datasets


# Latitude-longitude pairs
start = (20.87, -90.4)
stop1 = (15.74, -96.47)
stop2 = (20.75, -105.33)
stop3 = (30.48, -115.95)
end = (20.87, -90.4)

fig = gmaps.figure()
Celestun2Celestun= gmaps.directions_layer(start, end,waypoints=[stop1,stop2,stop3],travel_mode = "DRIVING")
fig.add_layer(Celestun2Celestun)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,432,Celestun,MX,79.50,light rain,20.87,-90.40,Posada Lilia
1,47,Pochutla,MX,87.80,broken clouds,15.74,-96.47,Hotel Posada San Jose
2,482,Bucerias,MX,90.00,clear sky,20.75,-105.33,Villa del Palmar Flamingos Beach Resort & Spa ...
3,300,San Quintin,MX,85.87,clear sky,30.48,-115.95,Old Mill Hotel

In [20]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
stop4=vacation_df.loc[(vacation_df["City"]=="Lamesa")]
stop4

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
137,453,Lamesa,US,86.0,scattered clouds,32.74,-101.95,Shiloh Inn Lamesa

In [41]:
vacstop4 = tuple(stop4.to_numpy()[0])[5:7]
vacstop4

(32.74, -101.95)