In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
g_key

'AIzaSyBCd5hTy_IrU6OGNmu9SSgfz9MjvOgI6cc'

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lagoa,PT,2020-09-30 00:00:52,39.05,-27.98,66.56,69,65,8.57
1,1,Qaanaaq,GL,2020-09-30 00:00:52,77.48,-69.36,14.61,79,3,5.59
2,2,Saint George,US,2020-09-29 23:57:44,37.10,-113.58,87.80,7,1,3.36
3,3,Road Town,VG,2020-09-30 00:00:52,18.42,-64.62,80.01,94,15,1.99
4,4,Wawa,NG,2020-09-30 00:00:53,9.90,4.42,73.42,96,92,2.71

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Map of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Saint George,US,2020-09-29 23:57:44,37.10,-113.58,87.80,7,1,3.36
3,3,Road Town,VG,2020-09-30 00:00:52,18.42,-64.62,80.01,94,15,1.99
9,9,Morondava,MG,2020-09-30 00:00:54,-20.28,44.28,75.22,65,0,7.34
10,10,Brandon,US,2020-09-30 00:00:54,27.94,-82.29,80.60,83,75,10.36
19,19,Daru,PG,2020-09-30 00:00:57,-9.08,143.21,79.07,75,99,17.40
20,20,Georgetown,MY,2020-09-30 00:00:18,5.41,100.34,80.60,88,20,2.24
26,26,Kapaa,US,2020-09-30 00:00:59,22.08,-159.32,84.99,66,1,9.17
27,27,Dingle,PH,2020-09-30 00:00:59,11.00,122.67,80.08,80,100,2.15
41,41,Half Moon Bay,US,2020-09-30 00:01:05,37.46,-122.43,79.00,53,5,12.75
43,43,Kandrian,PG,2020-09-30 00:01:06,-6.22,149.55,79.79,83,98,8.81

In [23]:
preferred_cities_df.isnull()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
515,False,False,False,False,False,False,False,False,False,False
523,False,False,False,False,False,False,False,False,False,False
524,False,False,False,False,False,False,False,False,False,False
532,False,False,False,False,False,False,False,False,False,False
540,False,False,False,False,False,False,False,False,False,False

In [18]:
preferred_cities_df.count()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
2    Saint George      US     87.80  37.10 -113.58
3       Road Town      VG     80.01  18.42  -64.62
9       Morondava      MG     75.22 -20.28   44.28
10        Brandon      US     80.60  27.94  -82.29
19           Daru      PG     79.07  -9.08  143.21
20     Georgetown      MY     80.60   5.41  100.34
26          Kapaa      US     84.99  22.08 -159.32
27         Dingle      PH     80.08  11.00  122.67
41  Half Moon Bay      US     79.00  37.46 -122.43
43       Kandrian      PG     79.79  -6.22  149.55

In [20]:
# Import the API key.
from config import g_key

In [ ]:
g_key

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Saint George,US,87.80,37.10,-113.58,Best Western Plus Abbey Inn
3,Road Town,VG,80.01,18.42,-64.62,"ZINGARA 76ft Catamaran, full crew-all included"
9,Morondava,MG,75.22,-20.28,44.28,La Case Bambou
10,Brandon,US,80.60,27.94,-82.29,Embassy Suites by Hilton Tampa Brandon - OPEN
19,Daru,PG,79.07,-9.08,143.21,New century hotel
...,...,...,...,...,...,...
515,Wanning,CN,80.15,18.80,110.40,Paradise Hotel
523,Ocos,GT,86.00,14.51,-92.19,La Bajadita
524,Kieta,PG,85.75,-6.22,155.63,
532,Jacareacanga,BR,79.95,-6.22,-57.75,Casa do IanðŸ˜Ž
540,Boyolangu,ID,78.42,-8.12,111.89,Yos ega cv

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))